#login_wrapper{
	width: 100%;
	background:url('../img/login_bg.png') no-repeat center center;
	background-color:#e93854;
	height:475px;
}
#login_wrapper .container{
	position: relative;
	height:475px;

}
#login_wrapper #login{
	top:100px;
	position: absolute;
	right:100px;
	width:300px;
}
#regedit_wrapper{
	width: 100%;
	background:url('../img/login_bg.png') no-repeat center center;
	background-color:#e93854;
	height:475px;
}
#regedit_wrapper .container{
	position: relative;
	height:475px;

}
#regedit_wrapper #regedit{
	top:40px;
	position: absolute;
	right:100px;
	width:300px;
}